<div class="col-lg-12" id="lienhe">
    <div class="col-lg-4">
        <h4><b>LIÊN HỆ</b></h4>
        <p>
            Trụ sở: 53 Lê Thanh Nghị, Đồng Tâm, Hai Bà Trưng, Hà Nội
        </p>
        <p>
            Điện thoại: 0964.069.907
        </p>
        <p>
            E.mail: thuongxachohan@gmail.com
        </p>
        <p>chobachkhoa.com giữ bản quyền nội dung trên website này.</p>
    </div>
    <div class="col-lg-4">
        <h4><b>KẾT NỐI</b></h4>
        <a href="https://www.facebook.com/hung96ad"><i class="fa fa-2x fa-facebook-square"></i></a>
        <a href="https://plus.google.com/115787980402736783369"><i class="fa fa-2x fa-google-plus-square"></i></a>
    </div>
    <div class="col-lg-4">
        <h4><b>HỖ TRỢ KHÁCH HÀNG</b></h4>
        <a href="skype:hung96ad?chat"><i class="fa fa-2x fa-skype"> Skype</i></a>
    </div>
</div>
<!-- jQuery -->
<script src="@Url.Content("~/Style/vendor/jquery/jquery.min.js")"></script>
<script src="~/Style/Scripts/jquery.unobtrusive-ajax.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="@Url.Content("~/Style/vendor/bootstrap/js/bootstrap.min.js")"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="@Url.Content("~/Style/vendor/metisMenu/metisMenu.min.js")"></script>

<!-- Morris Charts JavaScript -->
<script src="@Url.Content("~/Style/vendor/raphael/raphael.min.js")"></script>
<script src="@Url.Content("~/Style/vendor/morrisjs/morris.min.js")"></script>
<script src="@Url.Content("~/Style/data/morris-data.js")"></script>

<!-- DataTables JavaScript -->
<script src="~/Style/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Style/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="~/Style/vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/Style/dist/js/sb-admin-2.js"></script>
<script src="~/Style/js/jsCustom/Custom.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables').DataTable({
            responsive: true
        });
    });
</script>