<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li><h3>Chức năng</h3></li>

            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Tài khoản <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Content("~/User/ChangeMatKhau")">Đổi mật khẩu</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Account")">Danh sách tài khoản nhân viên</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Account/AccountChuHo")">Danh sách tài khoản chủ hộ</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Account/Create")">Thêm tài khoản</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="glyphicon glyphicon-home"></i> Kiot <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Content("~/Kiot")">Danh sách kiot</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Kiot/Create")">Thêm kiot</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="glyphicon glyphicon-book"></i> Hợp đồng kiot <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Content("~/HopDongKiot")">Danh sách hợp đồng</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/HopDongKiot/Create")">Tạo hợp đồng mới</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bell fa-fw"></i> Thông báo <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Content("~/ThongBao")">Danh sách thông báo</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/ThongBao/Create")">Đăng thông báo</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Phân quyền <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Content("~/DanhMuc")">Danh mục nghiệp vụ</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/ChucNang")">Danh sách chức năng</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/PhanQuyen")">Phân quyền nhóm người dùng</a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</div>
