@model QLHoKinhDoanhMVC.Models.ThongBao

@{
    ViewBag.Title = @Model.TieuDe;
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="col-lg-12">
    <h1 class="page-header">@Model.TieuDe</h1>

    <blockquote>
        <small>Ngày đăng: @Model.NgayDang</small>
    </blockquote>
</div>



<div class="col-lg-12">
    <div class="panel panel-default">
        @if (Model.MoTa != null)
        {
            <div class="panel-heading">
                <h3>Mô tả:  @Model.MoTa </h3>
            </div>
        }

        <div class="panel-body">
            <p>
                @Html.Raw(Model.NoiDung)
            </p>
        </div>

        <div class="panel-footer">
            Người đăng: @Model.UserID
        </div>
    </div>
</div>
